.container-md{
    margin-top: 5%;
    background-color: #cfdad2;;
    width: 60%;
    border-radius: 2%;
    padding-left: 0px;
}

.col{
    padding: 0%;
}

.c-1{
    width: 20%;
}

.foto{
    border-radius: 2%;
}

label{
  font-family: sofia;
  font-weight: 800;
  padding-left: 4%;
}

.lel{
    margin-top: 20%;
}
.carouselle{
    width: 30%;
    height: 100%;
    position:absolute;
}

.fancy{
    margin-top: 5%;
    font-size: 8rem;
    font-family: sofia;
    -webkit-box-reflect: below -30px linear-gradient(transparent,#0004);
    animation: animate 5s linear infinite;
    line-height: 100%;
    outline: none;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}


@keyframes animate{
    100%,50%
    {
        color: #3D8361;
        text-shadow: none;
    }
    0%,100%
    {
        color:floralwhite;
        text-shadow: 0 0 10px #1C6758,
        0 0 20px #1C6758,
        0 0 40px #1C6758,
        0 0 100px #1C6758,
        0 0 160x #1C6758;
    }
}

.css-button-sliding-to-left--green {
    margin-left: 10%;
    margin-right: 10%;
    min-width: 130px;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #1C6758;
    color: #1C6758;
}
      
.css-button-sliding-to-left--green:hover {
    color: #fff;
}

.css-button-sliding-to-left--green:hover:after {
    width: 100%;
}

.css-button-sliding-to-left--green:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #1C6758;
}

.error{
    font-family: Tilt Neon;
    font-size: 0.9rem;
    font-weight: 400;
    color: red;
}

.font{
    color: #1C6758;
    text-decoration: none;
    border: 0px;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.1rem;;
    padding-right: 0;
}

.font:hover{
    color: white;
}

.icon{
    height: 70%;
}
.logins{
    margin-top: 2%;
}

.owners{
    color: #cfdad2;;
    font-family: Tilt Neon;
    font-weight: 700;
    position: absolute;
    bottom: -1%;
    left: 43%;
    font-style: italic;
}

