.container-fluid {
    background-image: url('src\assets\Letter\letterbkg.jpg');
    background-position: center;
    background-size: cover;
    min-height: 97vh;
    border-radius: 2%;
    padding: 10rem;
    padding-top: 1rem;
    max-height: 97vh;
}



.fancy{
    /* border-top: 1px solid rgba(0,0,0,0.08); */
    color: #1C6758;
    width: 100%;
    font-family: sofia;
    font-weight: 400;
    outline: none;
    padding-bottom: 1%;
}

.form-control{
    background-color: rgba(0,0,0,0.005)
}



.btn {
    border: 1px solid #1C6758;
    border-radius: 5px;
    padding: 1% 3% 1% 3%;
    background-color: #1C6758;
    color: white;
    transition: 0.4s;
}

.btn:hover {
    background-color: white;
    color: #1C6758;
    box-shadow: 0px 0.1em 0.2em rgb(28 103 88 / 40%), 0px 0.4em 0.7em -0.1em rgb(28 103 88 / 30%), inset 0px -0.1em 0px #1c67584d;
    transform: translateY(-0.3rem);
    transition-duration: 250ms;
}

textarea{
    font-size:20px;
    font-family: Roboto;
}



  

  .loaderwindow{
    min-height: 97vh;
    max-height: 100vh;
    background-color: #ABC270;
    border-radius: 15px;

  }

  .load{
    margin-left: 25%;
    margin-top: 1%;
  }