.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #395144;
    background-size: cover;
    backdrop-filter: url(assests/wallpaper.jpg#filter);
}

form {
    border-radius: 20px;
    padding: 2% 5% 2% 5%;
    background-color: #cfdad2;
}

label {
    font-size: medium;
}