<div class="container-fluid">
    <img>
    <form class="col-4" #authForm="ngForm">
        <h1>Flora</h1>
        <hr class="mb-2">
        <div class="mb-2 mt-3">
            <label for="f_name" class="form-label">First Name</label>
            <input type="text"  class="form-control form-control-sm" id="f_name" placeholder="Salty" name="firstname" [(ngModel)]="f_name" required>
        </div>
        <div class="mb-2">
            <label for="l_name" class="form-label">Last Name </label>
            <input type="text" class="form-control  form-control-sm" id="l_name" placeholder="Hulk" name="lastname" [(ngModel)]="l_name" required>
        </div>
        <div class="mb-2">
            <label for="u_name" class="form-label">Username</label>
            <input type="text" class="form-control  form-control-sm" id="u_name" placeholder="A COOL NAME" name="username" [(ngModel)]="u_name" required>
        </div> 
        <div class="mb-2">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control  form-control-sm" id="email" placeholder="name@example.com" name="email" [(ngModel)]="email" email required>
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control  form-control-sm" id="password" placeholder="" name="password" [(ngModel)]="password" required>
        </div>
        <div class="mb-2">
            <label for="password_check" class="form-label">Re-enter password</label>
            <input type="password" class="form-control  form-control-sm" id="password_check" placeholder="">
        </div>
        <div class="mb-2">
            <button type="submit" class="css-button-sliding-to-left--green mt-2"  (click)="post()" [routerLink]="['/']" [disabled]=(!authForm.valid) >Floral !!! </button>
        </div>
    </form>
</div>