<div class="wrapper">
    <div class="sidebar">
        <div class="back">
            <div class="propic" title="Upload your pfp" style="z-index: 5; background-image: url({{img}}); background-size: cover;">
             
            </div>
            <img src="assets/pfp/pvz.jpeg"  alt="" class="pfp">
            <img src="assets/background.png" alt=""  class="imagebackground" >
            <div class="namena">
            <h1 class="profilename">{{ name }}</h1>
            </div>
        </div>
        
        <ul>
            <li>
                <button type="button" class="btn btn-outline-success ok" (click)="usertype ='Home'"><p class="nav-buttons"><i class="fa-solid fa-house"></i>  Home</p></button>
            </li>
            <li>
                <button type="button" class="btn btn-outline-success ok" (click)="usertype ='chat'"><p class="nav-buttons"><i class="fa-solid fa-user-group"></i>  Friends <sup>BETA</sup></p></button>
            </li>
            <li>
                <button type="button" class="btn btn-outline-success ok" (click)="usertype ='letter'"><p class="nav-buttons"><i class="fa-solid fa-envelope"></i> Write a letter</p></button>
            </li>
            <li>
                <button type="button" class="btn btn-outline-success ok" (click)="usertype ='my-letters'"><p class="nav-buttons"><i class="fa-solid fa-list"></i> Your letter <sup>BETA</sup></p></button>
            </li>
            <li>
                <button type="button" class="btn btn-outline-success ok" (click)="usertype ='settings'"><p class="nav-buttons"><i class="fa-solid fa-gears"></i> Settings</p></button>
            </li>
            <li>
                <button type="button" class="btn btn-outline-success ok" (click)="usertype ='about'"><p class="nav-buttons"><i class="fa-solid fa-address-card"></i> About <sup>BETA</sup></p></button>
            </li>
            <li>
                <h1 class="fancy">Flora </h1>
            </li>
            <li>
               <a href="https://docs.google.com/forms/d/e/1FAIpQLSdXxuhLvu93ByuD0P7tnlnaVbBjBzjAxQp93XCPAQgE8T90RA/viewform?vc=0&c=0&w=1&flr=0" target="_blank" rel="noopener noreferrer"><button type="button" class="btn btn-outline-success ok"><p class="nav-buttons"><i class="fa-solid fa-comment"></i> Feedback</p></button></a> 
            </li>
            <li>
                <button type="button" class="btn btn-outline-success ok" (click)="onLogOut()"><p class="nav-buttons"><i class="fa-solid fa-person-walking-arrow-right"></i> Signout</p></button>
            </li>
            <li>
                <audio controls  loop class="music"> //autoplay
                    <source src="assets\Home\birdmusic.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
            </li>
        </ul> 
    </div>


 


    <div class="parent-component app" [ngSwitch]="usertype">
        <app-about *ngSwitchCase="'about'"></app-about>
        <app-settings *ngSwitchCase="'settings'"></app-settings>
        <app-my-letters *ngSwitchCase="'my-letters'"></app-my-letters>
        <app-letter *ngSwitchCase="'letter'"></app-letter>
        <app-chat *ngSwitchCase="'chat'"></app-chat>
        <app-home *ngSwitchCase="'Home'"></app-home>
    </div>
</div>
