<html>
    <div class="sidebar">
        <div class="back">
            <img src="assets/pfp/pvz.jpeg" alt="" class="pfp">
            <img src="assets/background.png" alt="" class="imagebackground">
        </div>
        <ul>
            <li>
                <button type="button" class="btn btn-outline-success ok"><i class="fa-solid fa-user-group"></i>  Friends</button>
            </li>
            <li>
                <button type="button" class="btn btn-outline-success ok"><i class="fa-solid fa-envelope"></i> Write a letter</button>
            </li>
            <li>
                <button type="button" class="btn btn-outline-success ok"><i class="fa-solid fa-list"></i> Your letter</button>
            </li>
            <li>
                <button type="button" class="btn btn-outline-success ok"><i class="fa-solid fa-gears"></i> Settings</button>
            </li>
            <li>
                <button type="button" class="btn btn-outline-success ok"><i class="fa-solid fa-address-card"></i> About</button>
            </li>
            <li>
                <h1 class="fancy">FLORA</h1>
            </li>
        </ul>
    </div>
</html>
