
*{
    margin: 0%;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.sidebar{
    position: fixed;
    left:0;
    width:17%;
    background: #cfdad2;
    height: 100%;
    border-top-right-radius:2% ;
    border-top-left-radius: 2%;
}


.btn-outline-success{
    text-transform: uppercase;
    width: 100%;
    font-size: 150%;
    font-weight: 400;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 3px solid rgba(225,225,225,0.05);
    border-right: 0px;
    font-family: "Tilt Neon";
    font-size:130%;
    color: #1C6758;
    background-color:#cfdad2;;
    border-radius: 0px;
    line-height: 200%;
}


.btn-outline-success:hover{
    background-color:#D6CDA4;
    padding-left: 20%;
}

.img-fluid{
    width: 100%;
}


.fa-solid{
    font-size: 70%;
}


.brand{
    font-family: sofia;
}
.back{
    height: 35%;
}

.imagebackground{
    height: 30%;
    border-top-right-radius:2% ;
    background-image: linear-gradient(rgba(183,236,184,1) 21%, rgba(183,236,184,1) 47%, rgba(207,218,210,1) 100%);
}



.pfp{
    position: absolute;
    border-radius: 50%;
    left:23%;
    top: 5%;
    width: 60%;
    border-style: double;
    border-width: 6%;
    z-index: 1;
}
.imagebackground{
    width: 100%;
    height: 100%;
    border-top-right-radius:2% ;
    filter:blur(5px);
    background-image: linear-gradient(#b7ecb8,#cfdad2);

}
.fancy{
    color: #3D8361;
    position: absolute;
    /* border-top: 1px solid rgba(0,0,0,0.08); */
    bottom: 5%;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    font-family: sofia;
    -webkit-box-reflect: below -30px linear-gradient(transparent,#0004);
    outline: none;
}