.container-fluid {
    background-color: #cfdad2;
    min-height: 97vh;
    border-radius: 15px;
    padding: 10rem;
    padding-top: 1rem;
}

h1 {
    font-family: 'Sofia';
    -webkit-box-reflect: below -30px linear-gradient(transparent,#0004);
    outline: none;
    color:#3D8361 ;
}

.container {
    display: flex;
    gap: 5rem;
}

.name-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.name {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
}

.name > p {
    margin: 0;
    padding: 0;
}

.u-name {
    font-family: 'Tilt Neon';
    font-size: medium;
    font-weight: 100;
}

.r-name {
    font-family: 'Tilt Neon';
    font-size: larger;
    grid-row: 2/3;
}

.bold {
    font-family: 'Tilt Neon';
    font-weight: 1000;
}

.bio {
    font-size: 1vw;
}

.btn-upload {
    border-radius: 7%;
    font-size: large;
    font-family: 'Tilt Neon';

}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}

.hr-sect:before, .hr-sect:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

label {
    border: 1px solid #1C6758;
    border-radius: 5px;
    padding: 1% 3% 1% 3%;
    background-color: #1C6758;
    color: white;
    transition: 0.4s;
}

label:hover {
    background-color: white;
    color: #1C6758;
    box-shadow: 0px 0.1em 0.2em rgb(28 103 88 / 40%), 0px 0.4em 0.7em -0.1em rgb(28 103 88 / 30%), inset 0px -0.1em 0px #1c67584d;
    transform: translateY(-0.3rem);
    transition-duration: 250ms;
}

input{
    display: none;
}

.loaderwindow{
    min-height: 97vh;
    max-height: 100vh;
    background-color: #ABC270;
    border-radius: 15px;

  }

  .load{
    margin-left: 25%;
    margin-top: 1%;
  }