<div class="container-fluid ">
    <div class="side-left">
        <img src="assets\Settings\wallpaper.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="side-right mt-2 mb-2">
        <div class="fancy mt-2 mb-4">
            <p>Your letters</p>
        </div>
        <div class="letters">
            <div *ngFor="let use of user | async">
                <img src="assets/pfp/pvz.jpeg" alt="">
                <div class="user-info">
                    <p class="u-name">@imayush</p>
                    <p class="r-name">{{use.where}}</p>
                </div>
                <p class="duration">Arrived 9h ago</p>
            </div>
        </div>
    </div>  
</div>