<div class="loaderwindow" *ngIf="loader">
    <img class="load" src="assets\loader.svg" alt="">
  </div>
  


<div class="container-fluid " *ngIf="!loader">
    <div class="side-left">
        <img src="assets\Settings\wallpaper.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="instruction">
            <h1 class="head"><u>Instruction</u> </h1>
            <p>Just getting started ? Here are some steps you can take to make sure your brand takes full advantage of the platform right away.
            </p>
            <br>
            <p>
               <b>Make Connections:</b> 
               <br>
To connect with other users, you'll need to send letters to them. You can send letters to any random user; if they accept your proposal, they will be added to your friend list.
Send Letters:
You can send letters to any random user to connect with them . Your letter will be represented by lotus images on the main page. There will be two choices: accepting the request or releasing. The user will be added to your buddy list if the request is approved; otherwise, the request will be passed on to the following randomly user.
Send Message:

 The user will be able to send an instant message to any contact on their friend list.
 

            </p>
            <p>
                <br>
                <b>Send Letters:</b> 
                <br>
You can send letters to any random user to connect with them . Your letter will be represented by lotus images on the main page. There will be two choices: accepting the request or releasing. The user will be added to your buddy list if the request is approved; otherwise, the request will be passed on to the following randomly user.

            </p>
            <p>
                <br>
               <b>Send Message: </b> 
               <br>
 The user will be able to send an instant message to any contact on their friend list.

            </p>
            <p>
                <br>
               <b class="banner">END-TO-END ENCRYPTION:</b>
               <br>
            </p>
            <p>
<br>
 <b>Security by Default</b> <br>
 Some of your most personal moments are shared here, which is why we built end to-end encryption . When end-to-end encrypted, your messages are secured so only you and the person you're communicating with can read  them, and nobody in between.
</p>

<p>
<br>
<b>Be respectful: </b> 
<br>

When chatting with other users, it is important to be respectful and polite. Avoid using offensive language or making inappropriate comments. Treat others the way you would like to be treated.
</p>


<p>
<br>
<b>Free:</b> 
<br>

It is free forever. No ads. No subscription fees.
</p>

<p>
    <br>
    <b>Feedback</b>
    <br>


There is always room for improvement. Right now, we are just dealing with text communication.
If you notice something is not working correctly, like a broken feature or a technical problem, you can report it to us.
</p>
<hr>
<b class="banner"> "DEEP CONNECTIONS WITH THE  RIGHT PEOPLE ARE PRICELESS."</b>
<br>
<b> That's it! Have fun exploring and connecting with others.</b>
<b> - credit : Anshika</b>
    </div>
    <div class="side-right mt-2 mb-2">
        <div class="fancy mt-2 mb-4">
            <p>Your letters</p>
        </div>
        <div class="letters">
            <button class="btn btn-success" *ngFor="let use of user | async">
                <div class="user-info">
                    <img class="ok" src="assets/pfp/pvz.jpeg" alt=""> 
                    <div class="content">
                        <p id="where">@{{ use.where }}</p>
                        <div id="message">{{ use.message }}</div>
                    </div>
                </div>
            </button>
        </div>
    </div>  
</div>