.container-fluid {
    background-color: #cfdad2;
    min-height: 90vh;
    border-radius: 15px;
    max-height: 97vh;
    padding-left: 0;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    gap: 1%;
}

.img-fluid{
    object-fit: cover;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    width: 100%;
    height: 89%;
}

.side-right {
    background-color: rgb(251,213,164);
    max-height: 95vh;
    padding: 1% 10% 1% 10%;
}

.letter {
    display: flex;
    padding: 10px;
    gap: 3%;
}

.fancy {
    text-align: center;
    font-size: xx-large;
    font-family: 'Sofia';
    font-weight: bolder;
}

p {
    margin: 0;
    padding: 0; 
}

img {
    width: 10%;
}

.duration {
    position: absolute;
    right: 5%;
}