<!-- <div class="loaderwindow" *ngIf="loader">
    <img class="load" src="assets\loader.svg" alt="">
  </div>
   -->


<div class="container-fluid " *ngIf="!loader">
    <div class="side-left">
        <img src="assets\Settings\wallpaper.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="instruction">
            <h1 class="head">Instruction</h1>
            <p></p>
    </div>
    <div class="side-right mt-2 mb-2">
        <div class="fancy mt-2 mb-4">
            <p>Your letters</p>
        </div>
        <div class="letters">
            <button class="btn btn-success" *ngFor="let use of user | async">
                <div class="user-info">
                    <p class="u-name"><img class="ok" src="assets/pfp/pvz.jpeg" alt="">@{{use.where}}</p>
                    <p class="r-name">{{use.where}}</p>
                </div>
            </button>
        </div>
    </div>  
</div>