<div class="container-fluid ">
    <form>
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Help people discover your account by using the name you're known by: either your full name, nickname, or business name</div>
          <label for="exampleInputEmail1" class="form-label">Password</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Are you gay</label>
        </div> 
        <label for="exampleInputEmail1" class="form-label">Website</label>
        <input type="text" class="form-control" id="exampleInputEmail1">

        <label for="exampleFormControlTextarea1" class="form-label">Bio</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="text" class="form-control" id="exampleInputEmail1">
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>