.container-fluid {
    background-color: #cfdad2;
    min-height: 97vh;
    border-radius: 15px;
    max-height: 90vh;
    padding-right: 0px;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    gap: 1%;
}

.fancy{
    color: #3D8361;
    /* border-top: 1px solid rgba(0,0,0,0.08); */
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    font-family: sofia;
    -webkit-box-reflect: below -30px linear-gradient(transparent,#0004);
    outline: none;
}

.container.text-center{
    height: 100%;
}

.img-fluid{
    object-fit: cover;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    width: 100%;
    height: 89%;
}

.form-control{
    padding-right: 2%;
    padding-top: 0px;
}


.form-label{
    font-family: "Tilt Neon";
    font-weight: 800;
}

.form-text.ok{
    font-size: medium;
}

.heading{
    font-size: medium;
    font-weight: 1000;
    font-family: "Roboto";
    color: #808080;
    margin: 0px;
}

.form-text second{
    margin: 0px;
}


.btn {
    border: 1px solid #1C6758;
    border-radius: 5px;
    padding: 1% 3% 1% 3%;
    background-color: #1C6758;
    color: white;
    transition: 0.4s;
}

.btn:hover {
    background-color: white;
    color: #1C6758;
    box-shadow: 0px 0.1em 0.2em rgb(28 103 88 / 40%), 0px 0.4em 0.7em -0.1em rgb(28 103 88 / 30%), inset 0px -0.1em 0px #1c67584d;
    transform: translateY(-0.3rem);
    transition-duration: 250ms;
}


.loaderwindow{
    min-height: 97vh;
    max-height: 100vh;
    background-color: #ABC270;
    border-radius: 15px;

  }

  .load{
    margin-left: 25%;
    margin-top: 1%;
  }


.fileup{
    display: none;
}

  .uploader{
    border: 1px solid #1C6758;
    border-radius: 5px;
    padding: 1% 3% 1% 3%;
    background-color: #1C6758;
    color: white;
    transition: 0.4s;
  }

  .uploader:hover{
    background-color: white;
    color: #1C6758;
    box-shadow: 0px 0.1em 0.2em rgb(28 103 88 / 40%), 0px 0.4em 0.7em -0.1em rgb(28 103 88 / 30%), inset 0px -0.1em 0px #1c67584d;
    transform: translateY(-0.3rem);
    transition-duration: 250ms;
  }

  .layout{
    display: flex;
    gap: 10%;
  }

  .uploaderphoto{
    font-family: Roboto;
    font-weight: 700;
  }

.instruction{
    position: absolute;
    border: 2px solid red;
    width: 30%;
    height: 50%;
    right: 10%;
    top: 15%;
    border-radius: 2%;
    background-color: #DBE4C6;
    font-family: Tilt Neon;
    text-align: center;
}