


.container-fluid {
    background-color: #cfdad2;
    min-height: 97vh;
    border-radius: 2%;
    grid-template: 1fr 1fr/1fr 2fr;
    max-height: 90vh;
    padding-right: 0px;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    gap: 1%;
}


.fancy{
    color: #3D8361;
    /* border-top: 1px solid rgba(0,0,0,0.08); */
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    font-family: sofia;
    -webkit-box-reflect: below -30px linear-gradient(transparent,#0004);
    outline: none;
}





.container.text-center{
    height: 100%;
}

.img-fluid{
    object-fit: cover;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    width: 100%;
    height: 89%;
}
.form-control{
    padding-right: 2%;
    padding-top: 0px;
}


.form-label{
    font-family: "Tilt Neon";
    font-weight: 800;
}

.form-text.ok{
    font-size: medium;
}

.heading{
    font-size: medium;
    font-weight: 1000;
    font-family: "Roboto";
    color: #808080;
    margin: 0px;
}

.form-text second{
    margin: 0px;
}