<div class="container-fluid">
    <div class="friends-list">
        <div class="heading">Chats</div>
        <div class="friend" *ngFor="let friend of friends; let index=index;" [attr.data-index]="index" (click)="onContactClick(friend)">
            <div class="image">
                <img src="assets/pfp/pvz.jpeg" alt="">
            </div>
            <div class="wrapper">
                <p class="name">{{friend.f_name}}</p>
                <p class="last-message">Hello</p>
            </div>
            <div class="time">
                2:15
            </div>
        </div>    
    </div>
    
    <div class="chat-window">
        <div class="user-info">
            <div class="image">
                <img src="assets/pfp/pvz.jpeg" alt="">
            </div>
            <div class="name">
                <p>Ayush</p>
            </div>
        </div>

        <div class="message-window">
            <div *ngFor="let message of posts | async "  >
                <div>
                    <strong>{{ message.email }}</strong>
                    <br>
                    {{ message.message }}
                    {{message.timestamp }}
                </div>
            </div>
        </div>
        <div class="input">
            <input type="text" class="chatInput"  name="title" [(ngModel)]="msg">
            <button class="btn btn-primary"  value="add a post" (click)="send()">Send</button>
        </div>
    </div>
</div>