<div class="container-fluid">
    <div class="friends-list">
        <div class="heading">Chats</div>
        <div class="friend friend-1">
            <div class="image">
                <img src="assets/pfp/pvz.jpeg" alt="">
            </div>
            <div class="wrapper">
                <p class="name">Ayush</p>
                <p class="last-message">Hello</p>
            </div>
            <div class="time">
                2:15
            </div>
        </div>
        <div class="friend friend-2">
            <div class="image">
                <img src="assets/pfp/pvz.jpeg" alt="">
            </div>
            <div class="wrapper">
                <p class="name">Ayush</p>
                <p class="last-message">Hello</p>
            </div>
            <div class="time">
                2:15
            </div>
        </div>
        <div class="friend friend-3">
            <div class="image">
                <img src="assets/pfp/pvz.jpeg" alt="">
            </div>
            <div class="wrapper">
                <p class="name">Ayush</p>
                <p class="last-message">Hello</p>
            </div>
            <div class="time">
                2:15
            </div>
        </div>
        <div class="friend friend-4">
            <div class="image">
                <img src="assets/pfp/pvz.jpeg" alt="">
            </div>
            <div class="wrapper">
                <p class="name">Ayush</p>
                <p class="last-message">Hello</p>
            </div>
            <div class="time">
                2:15
            </div>
        </div>
    </div>
    <div class="chat-window">
        <div class="user-info">
            <div class="image">
                <img src="assets/pfp/pvz.jpeg" alt="">
            </div>
            <div class="name">
                <p>Ayush</p>
            </div>
        </div>
        <div class="message-window">
            yo
        </div>
        <div class="input">
            <!-- <input type="text" class="chatInput" [(ngModel)]="message" (keydown)="handleSubmit($event)">
            <button class="btn btn-primary" (click)="send()">Send</button> -->
        </div>
    </div>
</div>