<div class="container-fluid">
    <div class="friends-list">
        <div class="heading">Chats</div>
            <div class="friend" *ngFor="let friend of user | async let index=index;" [attr.data-index]="index" (click)="onContactClick(friend)">
                <div class="image">
                    <img src="assets/pfp/pvz.jpeg" alt="">
                </div>
                <div class="wrapper">
                    <p class="name">{{friend.f_name}}</p>
                    <p class="last-message">Hello</p>
                </div>
            </div>    
    </div>
    
    <div class="chat-window">
        <div class="user-info">
            <!-- <div class="image">
                <img src="assets/pfp/pvz.jpeg" alt="">
            </div> -->
            <div class="name">
                <h4 class="currentUserFname">{{ currentUserFname }}</h4>
                <p class="currentUserUname">{{ currentUserUname }}</p>
            </div>
        </div>

        <div *ngIf="showTextField" class="message-window">
            <div *ngFor="let message of posts | async">
                <div *ngIf="message.email==currentuser" class="message friend-message">
                    <strong>{{ message.message }}</strong>
                    <p>{{ message.time }}</p>
                </div>
                <div *ngIf="message.email==em" class="message user-message">
                    <strong>{{ message.message }}</strong>
                    <p>{{ message.time }}</p>
                </div>
            </div>
        </div>
        <div *ngIf="showTextField" class="input mt-2">
            <div class="fancy-envelope"><i class="fa-solid fa-envelope"></i></div>
            <input type="text" class="chatInput"  name="title" [(ngModel)]="msg">
            <button class="btn btn-send btn-primary"  value="add a post" (click)="send()"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>